<nz-table #basicTable [nzData]="data()">
  <thead class="ant-table-thead">
  <tr>
    @for (column of columns(); track $index) {
      <th>{{ column.header }}</th>
    }
    <th></th>
  </tr>
  </thead>
  <tbody class="ant-table-tbody">
    @for (data of basicTable.data; track $index) {
      <tr>
        @for (column of columns(); track $index) {
          <td>{{ this.getRenderedValue(column, data) }}</td>
        }
        <td>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Törlés</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
