<nz-table #basicTable [nzData]="data()">
  <thead class="ant-table-thead">
  <tr>
    @for (column of columns(); track $index) {
      <th>{{ column.header }}</th>
    }
    <th></th>
  </tr>
  </thead>
  <tbody class="ant-table-tbody">
    @for (data of basicTable.data; track $index) {
      <tr>
        @for (column of columns(); track $index) {
          <td>{{ this.getRenderedValue(column, data) }}</td>
        }
        <td>
          @if (this.buttons()?.length) {
            @for (button of this.buttons(); track $index) {
              <button nz-button [nzType]="button.type!" (click)="button.click(data)">{{ button.label }}</button>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
