@if (!(this.loadingService.$loading | async)) {
  <div class="buttons">
    <button nz-button nzType="primary" (click)="handleCreate()">
      <nz-icon nzType="plus" nzTheme="outline"/>
      Hozzáadás
    </button>
    <ng-content/>
  </div>
} @else {
  <nz-skeleton nzActive="true" [nzParagraph]="false"/>
}
<nz-table #basicTable [nzData]="data()" [nzLoading]="this.loadingService.$loading | async">
  <thead class="ant-table-thead">
  <tr>
    @for (column of columns(); track $index) {
      <th>{{ column.header }}</th>
    }
    <th></th>
  </tr>
  </thead>
  <tbody class="ant-table-tbody">
    @for (data of basicTable.data; track $index) {
      <tr>
        @for (column of columns(); track $index) {
          <td>{{ this.getRenderedValue(column, data) }}</td>
        }
        <td>
          @if (this.buttons()?.length) {
            @for (button of this.buttons(); track $index) {
              <button nz-button [nzType]="button.type!" (click)="button.click(data)">{{ button.label }}</button>
            }
          }
          @if (!(this.loadingService.$loading | async)) {
            <nz-divider nzType="vertical"/>
            <button nz-button nz-tooltip nzType="text" nzTooltipTitle="Megtekintés" (click)="handleView(data)">
              <nz-icon nzType="eye"/>
            </button>
            <button
              nz-button
              nz-tooltip
              nzType="text"
              nzTooltipTitle="Törlés"
              nz-popconfirm
              nzPopconfirmTitle="Biztosan törölni szeretnéd ezt az elemet?"
              nzOkText="Igen"
              nzCancelText="Nem"
              [nzIcon]="iconTpl"
              (nzOnConfirm)="handleDelete(data.id)"
            >
              <nz-icon nzType="delete"/>
            </button>
          }
        </td>
      </tr>
    }
  </tbody>
</nz-table>
<ng-template #iconTpl>
  <nz-icon nzType="question-circle-o"/>
</ng-template>
