.app-layout {
  height: 100vh;
  nz-content {
    padding: 24px 50px;
    .inner-content {
      padding: 24px;
      background: #fff;
      max-height: 100%;
      max-width: 100%;
      overflow: auto;
    }
  }
  nz-footer {
    text-align: center;
  }
}
