nz-header {
  color: white;
  display: flex;
  justify-content: space-between;

  .top-nav {
    line-height: 64px;
  }

  .logo {
    float: left;
    height: 64px;
    padding-right: 24px;
    line-height: 64px;
    background: #001529;
  }

  .logo img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }

  .logo h1 {
    display: inline-block;
    margin: 0 0 0 15px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .nav-toggle {
    display: none;
  }
}

@media (max-width: 992px) {
  nz-header {
    .menu, .control {
      display: none;
    }

    .nav-toggle {
      display: block;
    }
  }
}
