<form nz-form [formGroup]="formGroup" (ngSubmit)="handleSubmit()" [class]="class()" nzLayout="vertical">
  @for (field of fields(); track $index) {
    @if (field.visible === undefined || field.visible) {
      <nz-form-item>
        @if (field.label && field.type !== "checkbox") {
          <nz-form-label [nzRequired]="formGroup.get(field.name)?.hasValidator(Validators.required)">
            {{field.label}}
          </nz-form-label>
        }
        <nz-form-control [nzErrorTip]="errorTpl" [nzExtra]="field.extra">
          @if (field.type === "select") {
            <nz-select [nzShowSearch]="field.showSearch" nzAllowClear [nzPlaceHolder]="field.placeholder!" [formControlName]="field.name">
              @for (option of field.options; track $index) {
                <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
              }
            </nz-select>
          } @else if (field.type === "checkbox") {
            <label nz-checkbox [formControlName]="field.name">{{ field.label }}</label>
          } @else if (field.type === "radio") {
            <nz-radio-group [formControlName]="field.name">
              @for (option of field.options; track $index) {
                <label nz-radio [nzValue]="option.value">{{ option.label }}</label>
              }
            </nz-radio-group>
          } @else if (field.type === 'date') {
            <nz-date-picker [formControlName]="field.name"/>
          } @else if (field.type === 'time') {
            <nz-time-picker [formControlName]="field.name" [nzFormat]="'HH:mm'" />
          } @else {
            <nz-input-group [nzPrefixIcon]="field.icon">
              <input [type]="field.type" nz-input [formControlName]="field.name" [placeholder]="field.placeholder ?? ''" [maxlength]="field.maxlength ?? null"/>
            </nz-input-group>
          }
          <ng-template let-control #errorTpl>
            @if (control.errors?.['required']) {
              {{ field.label || field.placeholder }} kitöltése kötelező!
            } @else if (control.errors?.['email']) {
              Hibás e-mail cím.
            } @else if (control.errors?.['pattern']) {
              Hibás formátum.
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    }
  }
  <ng-content/>
</form>
