<nz-header>
  <h2 class="logo"><a [routerLink]="MAIN_PAGE">Kulcsnyilvántartó rendszer</a></h2>
  <ul nz-menu class="menu" nzTheme="dark" nzMode="horizontal">
    @for (link of NAV_LINKS; track $index) {
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLink]="link.path">{{ link.label }}</li>
    }
  </ul>
  <div class="control">
    <button
      nz-button
      nzType="link"
      nz-popconfirm
      nzPopconfirmTitle="Biztosan ki szeretnél jelentkezni?"
      nzOkText="Igen"
      nzCancelText="Nem"
      [nzIcon]="iconTpl"
      (nzOnConfirm)="handleLogout()"
    >
      Kijelentkezés
    </button>
  </div>
  <div class="nav-toggle">
    <button
      nz-button
      nzType="primary"
      (click)="handleOpen()"
    >
      <nz-icon nzType="menu" nzTheme="outline"/>
    </button>
  </div>
</nz-header>
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isVisible()"
  (nzOnClose)="handleClose()"
  nzTitle="Kulcsnyilvántartó rendszer"
>
  <ng-container *nzDrawerContent>
    <ul nz-menu>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLink]="MAIN_PAGE">Főoldal</li>
      @for (link of NAV_LINKS; track $index) {
        <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLink]="link.path">{{ link.label }}</li>
      }
    </ul>
    <nz-divider/>
    <button
      nz-button
      nzType="link"
      nz-popconfirm
      nzPopconfirmTitle="Biztosan ki szeretnél jelentkezni?"
      nzOkText="Igen"
      nzCancelText="Nem"
      [nzIcon]="iconTpl"
      (nzOnConfirm)="handleLogout()"
    >
      Kijelentkezés
    </button>
  </ng-container>
</nz-drawer>
<ng-template #iconTpl>
  <nz-icon nzType="question-circle-o"/>
</ng-template>
